
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
env/
venv/
*.env

# OS files
.DS_Store

# python virtual environment files
*.egg-info/
.eggs/
.Python
*.sqlite3

# VSCode
.vscode/

# Logs and debug
logs/
*.log

# Chroma vector database
chroma_db/

# data files
data/
